In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading the DataFrame
df = pd.read_csv("Admission_Predict.csv", index_col = 0)

# Extracting column names, striping white space and then turning then lowercase
df.columns = [x.lower().strip() for x in df.columns]

df.head(3)

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72

In [3]:
# Changing Index

# The goal is to change the index column from "Serial No."" to "chance of admit". But, while doing so
# the "Serial No." column data should not be lost.

df['Serial No.'] = df.index
df = df.set_index('chance of admit')
df.head(3)

,gre score,toefl score,university rating,sop,lor,cgpa,research,Serial No.
chance of admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3

In [4]:
# Removing Index

df = df.reset_index()
df.head(3)

,chance of admit,gre score,toefl score,university rating,sop,lor,cgpa,research,Serial No.
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3

### Multi-Level Index

In [5]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
# In this data set there are two summarized levels, one that contains summary data for the county
# and one that contains summary data for each state. This has been denoted by the SUMLEV feature.

df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [7]:
# Accessing only county level data

df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [8]:
# Further making a subset for few columns

columns_to_keep = ['STNAME','CTYNAME','BIRTHS2010','BIRTHS2011','BIRTHS2012','BIRTHS2013',
                   'BIRTHS2014','BIRTHS2015','POPESTIMATE2010','POPESTIMATE2011',
                   'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [9]:
# As the data has been broken down by county and state, lets use a combination of both as the new index

df = df.set_index(['STNAME', 'CTYNAME'])
df

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County            151         636         615         574
        Baldwin County            517        2187        2092        2160
        Barbour County             70         335         300         283
        Bibb County                44         266         245         259
        Blount County             183         744         710         646
...                               ...         ...         ...         ...
Wyoming Sweetwater County         167         640         595         657
        Teton County               76         259         230         261
        Uinta County               73         324         311         316
        Washakie County            26         108          90          95
        Weston County              26          81          74          93

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County            623         600            54660
        Baldwin County           2186        2240           183193
        Barbour County            260         269            27341
        Bibb County               247         253            22861
        Blount County             618         603            57373
...                               ...         ...              ...
Wyoming Sweetwater County         629         620            43593
        Teton County              249         269            21297
        Uinta County              316         316            21102
        Washakie County            96          90             8545
        Weston County              77          79             7181

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County               55253            55175            55038
        Baldwin County              186659           190396           195126
        Barbour County               27226            27159            26973
        Bibb County                  22733            22642            22512
        Blount County                57711            57776            57734
...                                    ...              ...              ...
Wyoming Sweetwater County            44041            45104            45162
        Teton County                 21482            21697            22347
        Uinta County                 20912            20989            21022
        Washakie County               8469             8443             8443
        Weston County                 7114             7065             7160

                           POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County               55290            55347
        Baldwin County              199713           203709
        Barbour County               26815            26489
        Bibb County                  22549            22583
        Blount County                57658            57673
...                                    ...              ...
Wyoming Sweetwater County            44925            44626
        Teton County                 22905            23125
        Uinta County                 20903            20822
        Washakie County               8316             8328
        Weston County                 7185             7234

[3142 rows x 12 columns]

In [10]:
# Slicing for multi-level indexed dataframe

df.loc["Michigan","BIRTHS2010"].head(5)

CTYNAME
Alcona County      20
Alger County       14
Allegan County    339
Alpena County      65
Antrim County      41
Name: BIRTHS2010, dtype: int64

In [11]:
df.loc[           [    ('Michigan', 'Washtenaw County')   ],    'BIRTHS2010'    ]

STNAME    CTYNAME
Michigan  Washtenaw County    977
Name: BIRTHS2010, dtype: int64

In [12]:
# Comparing two counties

df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335